# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
rvsscan2.0/.project
rvsscan2.0/.classpath
rvsscan2.0/.tomcatplugin
rvsscan2.0/.settings/*
rvspush2.0/WebContent/war.bat
rvs2.0/src/DevicesImport.java
rvs2.0/src/framework/huiqing/action/BaseAction.java
rvs2.0/src/LoadDevices.java
rvsscan2.0/WebContent/WEB-INF/web.xml
