<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.equipment.DeviceSpareAdjustMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> 
		</cache -->
	
	<insert id="insert" parameterType="DeviceSpareAdjustEntity">
	<![CDATA[
	INSERT INTO device_spare_adjust
	(
	device_type_id,
	model_name,
	device_spare_type,
	adjust_time,
	reason_type,
	adjust_inventory,
	operator_id,
	comment
	)
	VALUES
	(
	#{device_type_id},
	#{model_name},
	#{device_spare_type},
	#{adjust_time},
	#{reason_type},
	#{adjust_inventory},
	#{operator_id},
	#{comment}
	)
 	]]>
	</insert>
	
	<select id="searchAdjustRecord" parameterType="DeviceSpareAdjustEntity" resultType="DeviceSpareAdjustEntity">
	<![CDATA[
	SELECT
		dsa.device_type_id,
		dsa.model_name,
		dsa.device_spare_type,
		dsa.adjust_time,
		dsa.reason_type,
		dsa.adjust_inventory,
		dsa.operator_id,
		operator.name AS operator_name,
		dsa.comment
	FROM
		device_spare_adjust dsa
	JOIN
		operator
	ON
		dsa.operator_id = operator.operator_id
	WHERE
		dsa.device_type_id = #{device_type_id}
	AND
		dsa.model_name = #{model_name}
	AND
		dsa.device_spare_type = #{device_spare_type}
	ORDER BY
		dsa.adjust_time DESC
	]]>
	</select>
	
</mapper>