<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.partial.FactProductionFeatureMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> 
		</cache -->
	<select id="searchWorkRecord" parameterType="FactProductionFeatureEntity" resultType="FactProductionFeatureEntity">
	<![CDATA[
		SELECT
			fact_pf_key,
			production_type,
			operator_id,
			action_time,
			finish_time,
			partial_warehouse_key,
			material_id,
			occur_times
		FROM
			fact_production_feature
		WHERE
			operator_id = #{operator_id}
	]]>
	<if test="partial_warehouse_key!=null and partial_warehouse_key!=''">
	<![CDATA[
		AND
			partial_warehouse_key = #{partial_warehouse_key}
	]]>
	</if>
	<if test="production_type!=null and production_type!=''">
	<![CDATA[
		AND
			production_type = #{production_type}
	]]>
	</if>
	<if test="material_id!=null and material_id!=''">
	<![CDATA[
		AND
			material_id = #{material_id}
	]]>
	</if>
	</select>

	<insert id="insert" parameterType="FactProductionFeatureEntity">
	<![CDATA[
		INSERT INTO fact_production_feature
		(
			production_type,
			operator_id,
			action_time,
			finish_time,
			partial_warehouse_key,
			material_id,
			occur_times
		)
		VALUES
		(
			#{production_type},
			#{operator_id},
			CURRENT_TIMESTAMP,
			#{finish_time},
			#{partial_warehouse_key},
			#{material_id},
			#{occur_times}
		)
	]]>
	</insert>
	
	<delete id="delete" parameterType="string" >
	<![CDATA[
		DELETE FROM fact_production_feature WHERE fact_pf_key = #{fact_pf_key}
	]]>
	</delete>
	
	<update id="updateFinishTime" parameterType="FactProductionFeatureEntity">
	<![CDATA[
		UPDATE 
			fact_production_feature 
		SET
			finish_time = CURRENT_TIMESTAMP()
		WHERE
			fact_pf_key = #{fact_pf_key}
	]]>
	</update>

	<select id="searchUnFinishedProduction" parameterType="FactProductionFeatureEntity" resultType="FactProductionFeatureEntity">
	<![CDATA[
		SELECT
			fpf.fact_pf_key,
			fpf.production_type,
			fpf.operator_id,
			fpf.action_time,
			fpf.finish_time,
			fpf.partial_warehouse_key,
			fpf.material_id,
			fpf.occur_times,
            pw.warehouse_date,
            pw.dn_no
		FROM
			fact_production_feature fpf
		LEFT JOIN
			partial_warehouse pw
		ON
			fpf.partial_warehouse_key = pw.key
		WHERE
			fpf.operator_id = #{operator_id}
		AND
			fpf.finish_time IS NULL
	]]>
	</select>
	
	<update id="updateKey" parameterType="FactProductionFeatureEntity">
	<![CDATA[
		UPDATE 
			fact_production_feature 
		SET
			partial_warehouse_key = #{partial_warehouse_key}
		WHERE
			fact_pf_key = #{fact_pf_key}
	]]>
	</update>
	
	<select id="searchWaitOutStorage" resultType="FactProductionFeatureEntity" parameterType="FactProductionFeatureEntity">
	<![CDATA[
	SELECT
		pf.material_id,
		pf.section_id,
	    pf.pace,
	    pf.rework,
	    pf.position_id,
		v_position.line_name,
		v_position.process_code,
		material.omr_notifi_no,
		material.level,
		material_partial.order_date,
		material_partial.bo_flg,
		material_partial.bo_contents,
		material_partial.occur_times
	FROM
	    production_feature pf
	JOIN
		v_position 
	ON
		v_position.position_id = pf.position_id
	JOIN
		material
	ON
		material.material_id = pf.material_id
	JOIN
		material_partial
	ON
		material_partial.material_id = material.material_id AND material_partial.occur_times = 1
	WHERE
		v_position.process_code IN(252,321,504)
	AND
		pf.finish_time IS NULL
	]]>
	<if test="material_id!=null and material_id!=''">
		AND
			pf.material_id = #{material_id}
	</if>
	</select>

</mapper>