<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.partial.PartialWarehouseMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> </cache -->

	<select id="search" parameterType="PartialWarehouseEntity" resultType="PartialWarehouseEntity">
	<![CDATA[
		SELECT
			pw.`key`,
			warehouse_date,
			dn_no,
			step,
			sum(dtl.quantity) as quantity,
			sum(abs(dtl.collation_quantity)) as collation_quantity,
			sum(dtl.quantity <> dtl.collation_quantity) as `match`
		FROM
			partial_warehouse pw
		JOIN
			partial_warehouse_detail dtl
		ON pw.key = dtl.key
	]]>
	<where>
	<if test="warehouse_date_start!=null and warehouse_date_start!=''">
	<![CDATA[
		AND warehouse_date >= #{warehouse_date_start}
	]]>
	</if>
	<if test="warehouse_date_end!=null and warehouse_date_end!=''">
	<![CDATA[
		AND warehouse_date <= #{warehouse_date_end}
	]]>
	</if>
	<if test="dn_no!=null and dn_no!=''">
	<![CDATA[
		AND dn_no = #{dn_no}
	]]>
	</if>
	<if test="(finish_date_start!=null and finish_date_start!='') or (finish_date_end!=null and finish_date_end!='')">
	<![CDATA[
		AND (SELECT max(finish_time) FROM fact_production_feature 
			WHERE partial_warehouse_key = pw.key and production_type in (20,40)) 
			BETWEEN
	]]>
		<if test="finish_date_start!=null and finish_date_start!=''">
		<![CDATA[
			#{finish_date_start}
		]]>
		</if>
		<if test="finish_date_start eq null or finish_date_start eq ''">
		<![CDATA[
			'2000-1-1'
		]]>
		</if>
	<![CDATA[
			AND
	]]>
		<if test="finish_date_end!=null and finish_date_end!=''">
		<![CDATA[
			DATE_ADD(#{finish_date_end},INTERVAL 1 DAY)
		]]>
		</if>
		<if test="finish_date_end eq null or finish_date_end eq ''">
		<![CDATA[
			'2100-1-1'
		]]>
		</if>
	</if>
	</where>
	<![CDATA[
		GROUP BY
			pw.key
	]]>
	</select>

	<!-- 新建零件入库单 -->
	<insert id="insert" parameterType="PartialWarehouseEntity">
	<![CDATA[
		INSERT INTO partial_warehouse (warehouse_date,dn_no,step) VALUES (#{warehouse_date},#{dn_no},#{step})
	]]>
	</insert>

	<!-- 删除零件入库单 -->
	<delete id="delete" parameterType="string">
	<![CDATA[
		DELETE FROM partial_warehouse WHERE `key` = #{key}
	]]>
	</delete>

	<!-- 更新入库进展 -->
	<update id="updateStep" parameterType="PartialWarehouseEntity">
	<![CDATA[
		UPDATE partial_warehouse SET step = #{step} WHERE `key` = #{key}
	]]>
	</update>

	<!-- 根据DN编号查询零件入库单信息 -->
	<select id="getByDnNo" resultType="PartialWarehouseEntity" parameterType="string">
	<![CDATA[
		SELECT `key`,warehouse_date,dn_no,step FROM partial_warehouse WHERE dn_no = #{dn_no}
	]]>
	</select>

	<!-- 根据key查询零件入库单信息 -->
	<select id="getByKey" resultType="PartialWarehouseEntity" parameterType="string">
	<![CDATA[
		SELECT `key`,warehouse_date,dn_no,step FROM partial_warehouse WHERE `key` = #{key}
	]]>
	</select>

	<!-- 查询当前入库进展信息 -->
	<select id="searchStepPartialWarehouse" resultType="PartialWarehouseEntity" parameterType="PartialWarehouseEntity">
	<![CDATA[
		SELECT 
		    pw.key,
			pw.warehouse_date,
			pw.dn_no,
			pw.step
		FROM
		    partial_warehouse pw
		LEFT JOIN
			fact_production_feature fpf
		ON
			pw.key = fpf.partial_warehouse_key
		WHERE
			fpf.operator_id = #{operator_id}
		AND 
			pw.step = #{step}
		GROUP BY
			pw.key
	]]>
	</select>
	
	<select id="searchUnmatch" resultType="PartialWarehouseEntity" parameterType="PartialWarehouseEntity">
	<![CDATA[
	SELECT
		pw.warehouse_date,
		pw.dn_no,
        v_partial.code,
        v_partial.name AS partial_name,
		dtl.quantity,
		dtl.collation_quantity,
        fpf.action_time AS finish_date_start,
        operator.name AS operator_name
	FROM
		partial_warehouse pw
	JOIN 
		partial_warehouse_detail dtl
	ON 
		pw.key = dtl.key
    JOIN
		v_partial
	ON
		v_partial.partial_id = dtl.partial_id
	JOIN
		fact_production_feature fpf
	ON
		fpf.fact_pf_key = dtl.fact_pf_key
	JOIN
		operator
	ON
		operator.operator_id = fpf.operator_id
	WHERE 
		dtl.quantity <> dtl.collation_quantity
	]]>
	<if test="warehouse_date_start!=null and warehouse_date_start!=''">
	<![CDATA[
		AND pw.warehouse_date >= #{warehouse_date_start}
	]]>
	</if>
	<if test="warehouse_date_end!=null and warehouse_date_end!=''">
	<![CDATA[
		AND pw.warehouse_date <= #{warehouse_date_end}
	]]>
	</if>
	<if test="dn_no!=null and dn_no!=''">
	<![CDATA[
		AND pw.dn_no = #{dn_no}
	]]>
	</if>
	<if test="(finish_date_start!=null and finish_date_start!='') or (finish_date_end!=null and finish_date_end!='')">
	<![CDATA[
		AND (SELECT max(finish_time) FROM fact_production_feature 
			WHERE partial_warehouse_key = pw.key and production_type in (20,40)) 
			BETWEEN
	]]>
		<if test="finish_date_start!=null and finish_date_start!=''">
		<![CDATA[
			#{finish_date_start}
		]]>
		</if>
		<if test="finish_date_start eq null or finish_date_start eq ''">
		<![CDATA[
			'2000-1-1'
		]]>
		</if>
	<![CDATA[
			AND
	]]>
		<if test="finish_date_end!=null and finish_date_end!=''">
		<![CDATA[
			DATE_ADD(#{finish_date_end},INTERVAL 1 DAY)
		]]>
		</if>
		<if test="finish_date_end eq null or finish_date_end eq ''">
		<![CDATA[
			'2100-1-1'
		]]>
		</if>
	</if>
	<![CDATA[
	ORDER BY
		pw.dn_no
	]]>
	</select>
</mapper>