<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.partial.PartialWarehouseMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> </cache -->

	<select id="search" parameterType="PartialWarehouseEntity" resultType="PartialWarehouseEntity">
	<![CDATA[
		SELECT
			pw.`key`,
			pwdn.seq,
			pw.warehouse_no,
			pw.step,
			pwdn.warehouse_date,
			pwdn.dn_no,
			sum(dtl.quantity) as quantity,
			sum(dtl.collation_quantity) as collation_quantity,
			sum(dtl.quantity <> dtl.collation_quantity) as `match`
		FROM
			partial_warehouse pw
		LEFT JOIN
			partial_warehouse_dn pwdn
		ON
			pw.key = pwdn.key
		LEFT JOIN
			partial_warehouse_detail dtl
		ON pwdn.key = dtl.key AND pwdn.seq = dtl.seq
	]]>
	<where>
	<if test="warehouse_date_start!=null and warehouse_date_start!=''">
	<![CDATA[
		AND pwdn.warehouse_date >= #{warehouse_date_start}
	]]>
	</if>
	<if test="warehouse_date_end!=null and warehouse_date_end!=''">
	<![CDATA[
		AND pwdn.warehouse_date <= #{warehouse_date_end}
	]]>
	</if>
	<if test="dn_no!=null and dn_no!=''">
	<![CDATA[
		AND pwdn.dn_no = #{dn_no}
	]]>
	</if>
	<if test="warehouse_no!=null and warehouse_no!=''">
	<![CDATA[
		AND pw.warehouse_no LIKE CONCAT(#{warehouse_no}, '%')
	]]>
	</if>
	<if test="(finish_date_start!=null and finish_date_start!='') or (finish_date_end!=null and finish_date_end!='')">
	<![CDATA[
		AND (SELECT max(finish_time) FROM fact_production_feature 
			WHERE partial_warehouse_key = pw.key and production_type in (20,40)) 
			BETWEEN
	]]>
		<if test="finish_date_start!=null and finish_date_start!=''">
		<![CDATA[
			#{finish_date_start}
		]]>
		</if>
		<if test="finish_date_start eq null or finish_date_start eq ''">
		<![CDATA[
			'2000-1-1'
		]]>
		</if>
	<![CDATA[
			AND
	]]>
		<if test="finish_date_end!=null and finish_date_end!=''">
		<![CDATA[
			DATE_ADD(#{finish_date_end},INTERVAL 1 DAY)
		]]>
		</if>
		<if test="finish_date_end eq null or finish_date_end eq ''">
		<![CDATA[
			'2100-1-1'
		]]>
		</if>
	</if>
	</where>
	<![CDATA[
		GROUP BY
			pw.key, pwdn.seq
	]]>
	</select>

	<!-- 新建零件入库单 -->
	<insert id="insert" parameterType="PartialWarehouseEntity">
	<![CDATA[
		INSERT INTO partial_warehouse (warehouse_no,step) VALUES (#{warehouse_no},#{step})
	]]>
	</insert>

	<!-- 删除零件入库单 -->
	<delete id="delete" parameterType="string">
	<![CDATA[
		DELETE FROM partial_warehouse WHERE `key` = #{key}
	]]>
	</delete>

	<!-- 更新入库进展 -->
	<update id="updateStep" parameterType="PartialWarehouseEntity">
	<![CDATA[
		UPDATE partial_warehouse SET step = #{step} WHERE `key` = #{key}
	]]>
	</update>

	<!-- 根据key查询零件入库单信息 -->
	<select id="getByKey" resultType="PartialWarehouseEntity" parameterType="string">
	<![CDATA[
		SELECT `key`,warehouse_no,step FROM partial_warehouse WHERE `key` = #{key}
	]]>
	</select>

	<!-- 查询当前入库进展信息 -->
	<select id="searchPartialWarehouseByStep" resultType="PartialWarehouseEntity" parameterType="string">
	<![CDATA[
		SELECT 
		    pw.key,
		    pw.warehouse_no,
		    pw.step,
			GROUP_CONCAT(pwdn.dn_no SEPARATOR  '/') AS dn_no
		FROM
		    partial_warehouse pw
		JOIN
			partial_warehouse_dn pwdn
		ON
			pw.key = pwdn.key
		WHERE
			pw.step = #{step}
		GROUP BY
			 pw.key
	]]>
	</select>
	
	<select id="searchUnmatch" resultType="PartialWarehouseEntity" parameterType="PartialWarehouseEntity">
	<![CDATA[
	SELECT
		pw.warehouse_no,
		pwdn.warehouse_date,
		pwdn.dn_no,
		pwdn.seq,
        v_partial.code,
        v_partial.name AS partial_name,
		dtl.quantity,
		dtl.collation_quantity,
        fpf.action_time AS finish_date_start,
        operator.name AS operator_name
	FROM
		partial_warehouse pw
	JOIN
		partial_warehouse_dn pwdn
	ON
		pw.key = pwdn.key
	JOIN 
		partial_warehouse_detail dtl
	ON 
		pwdn.key = dtl.key AND pwdn.seq = dtl.seq
    JOIN
		v_partial
	ON
		v_partial.partial_id = dtl.partial_id
	JOIN
		fact_production_feature fpf
	ON
		fpf.fact_pf_key = dtl.fact_pf_key
	JOIN
		operator
	ON
		operator.operator_id = fpf.operator_id
	WHERE 
		(pwdn.seq = 0 OR dtl.quantity <> dtl.collation_quantity)
	]]>
	<if test="warehouse_date_start!=null and warehouse_date_start!=''">
	<![CDATA[
		AND pwdn.warehouse_date >= #{warehouse_date_start}
	]]>
	</if>
	<if test="warehouse_date_end!=null and warehouse_date_end!=''">
	<![CDATA[
		AND pwdn.warehouse_date <= #{warehouse_date_end}
	]]>
	</if>
	<if test="dn_no!=null and dn_no!=''">
	<![CDATA[
		AND pwdn.dn_no = #{dn_no}
	]]>
	</if>
	<if test="warehouse_no!=null and warehouse_no!=''">
	<![CDATA[
		AND pw.warehouse_no LIKE CONCAT(#{warehouse_no}, '%')
	]]>
	</if>
	<if test="(finish_date_start!=null and finish_date_start!='') or (finish_date_end!=null and finish_date_end!='')">
	<![CDATA[
		AND (SELECT max(finish_time) FROM fact_production_feature 
			WHERE partial_warehouse_key = pw.key and production_type in (20,40)) 
			BETWEEN
	]]>
		<if test="finish_date_start!=null and finish_date_start!=''">
		<![CDATA[
			#{finish_date_start}
		]]>
		</if>
		<if test="finish_date_start eq null or finish_date_start eq ''">
		<![CDATA[
			'2000-1-1'
		]]>
		</if>
	<![CDATA[
			AND
	]]>
		<if test="finish_date_end!=null and finish_date_end!=''">
		<![CDATA[
			DATE_ADD(#{finish_date_end},INTERVAL 1 DAY)
		]]>
		</if>
		<if test="finish_date_end eq null or finish_date_end eq ''">
		<![CDATA[
			'2100-1-1'
		]]>
		</if>
	</if>
	<![CDATA[
	ORDER BY
		pwdn.dn_no
	]]>
	</select>
	
	<select id="getMaxWarehouseNo" parameterType="string" resultType="string">
	<![CDATA[
		SELECT MAX(warehouse_no) FROM partial_warehouse WHERE warehouse_no LIKE CONCAT(#{warehouse_no}, '%')
	]]>
	</select>
	
</mapper>