<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvsif.phenomenon.mapper.NewPhenomenonMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> 
		</cache -->

	<select id="getNewPhenomenon" resultType="NewPhenomenonEntity" parameterType="String">
		<![CDATA[
			select 
				ma.omr_notifi_no,
			    ma.material_id,
				np.alarm_message_id as `key`,
				np.location_group_desc,
				np.location_desc,
				np.description,
				np.return_status,
				op.job_no
			from nogood_phenomenon np
			join alarm_messsage am
			on np.alarm_message_id = am.alarm_messsage_id
			join material ma
			on am.material_id = ma.material_id
			join operator op
			on np.determine_operator_id = op.operator_id
			where np.alarm_message_id = #{key};
		]]>
	</select>

	<update id="setReturnStatus" parameterType="NewPhenomenonEntity">
		<![CDATA[
			UPDATE `nogood_phenomenon`
			SET
			`last_determine_date` = current_timestamp,
			`last_sent_message_number` = #{last_sent_message_number},
			`return_status` = #{return_status}
			WHERE `alarm_message_id` = #{key};
		]]>
	</update>

	<select id="searchUserDefineCodes" resultType="String">
		<![CDATA[
			 SELECT value FROM user_define_codes
			 WHERE code = 'IF_NEW_PHENOMENON_ENABLE'
		]]>
	</select>

	<select id="getLastMessageGroupNumber" resultType="String" parameterType="String">
		<![CDATA[
			SELECT max(last_sent_message_number) 
			FROM nogood_phenomenon
			where last_sent_message_number like concat(#{last_sent_message_number},'%');
		]]>
	</select>

</mapper>