@CHARSET "UTF-8";

@keyframes moveseconds {
	0% {top: 0;}
	100% {top: -160px;} 
}

@keyframes movetenseconds {
	0% {top: 0;}
	100% {top: -96px;} 
}

.roll_cell {
	top: 1px;
	height: 16px;
	overflow: hidden;
	position: relative;
	float: right;
	width: 0.6em;
	
}

.roll_cell > * {
	margin-top : -.5px;
}

.roll_seconds {
	line-height: 16px;
	width: 7px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}
.roll_seconds.anim_act {
	animation: moveseconds 10s steps(10, end) infinite;
}
.roll_tenseconds {
	line-height: 16px;
	width: 7px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}
.roll_tenseconds.anim_act {
	animation: movetenseconds 60s steps(6, end) infinite;
}

.roll_seconds.anim_pause,
.roll_tenseconds.anim_pause
{
	animation-play-state: paused;
}
