<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.master.LineMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> 
		</cache -->

	<select id="getLineByID" resultType="LineEntity" parameterType="String">
		<![CDATA[ 
		SELECT LINE_ID,
			NAME,
			INLINE_FLG,
			IN_ADVANCE,
			UPDATED_BY,
			UPDATED_TIME
		FROM V_LINE
		WHERE DELETE_FLG = 0
		AND LINE_ID = #{line_id};
		]]>
	</select>

	<select id="getAllLine" resultType="LineEntity">
		<![CDATA[ 
		SELECT LINE_ID,
			NAME,
			INLINE_FLG,
			IN_ADVANCE,
			UPDATED_BY,
			UPDATED_TIME
		FROM V_LINE
		WHERE DELETE_FLG = 0
		ORDER BY LINE_ID ASC;
		]]>
	</select>

	<select id="searchLine" resultType="LineEntity">
		<![CDATA[ 
		SELECT LINE_ID,
			NAME,
			INLINE_FLG,
			IN_ADVANCE,
			UPDATED_BY,
			UPDATED_TIME
		FROM V_LINE
		]]>
		<where>
			DELETE_FLG = 0
			<if test="line_id!= null and line_id!= '' ">
				AND LINE_ID = #{line_id}
			</if>
			<if test="name!=null and name!='' ">
				AND NAME LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="inline_flg!=null and inline_flg!='' ">
				AND INLINE_FLG = #{inline_flg}
			</if>
			<if test="department!= null and department!= '' ">
				AND EXISTS (select p.process_code from position p join position_of_section p_s on p.position_id = p_s.position_id join section s on p_s.section_id = s.section_id
where p.delete_flg = 0 and p.line_id = V_LINE.line_id and s.department = #{department})
			</if>
		</where> 
		<![CDATA[ 
		ORDER BY 
		]]>
		<if test="inline_flg!=null and inline_flg!='' ">
			LINE_ID,
		</if>
		<![CDATA[ 
		UPDATED_TIME DESC;
		]]>
	</select>

	<insert id="insertLine" parameterType="LineEntity">
		<![CDATA[ 
		INSERT INTO LINE 
			(NAME, UPDATED_BY, INLINE_FLG, IN_ADVANCE, UPDATED_TIME) 
		VALUES 
			(#{name}, #{updated_by}, #{inline_flg}, #{in_advance}, current_timestamp);
		]]>
	</insert>

	<update id="updateLine" parameterType="LineEntity">
		<![CDATA[ 
		UPDATE LINE SET NAME = #{name},
			UPDATED_BY = #{updated_by},
			INLINE_FLG = #{inline_flg},
			IN_ADVANCE = #{in_advance},
			UPDATED_TIME = current_timestamp
		WHERE LINE_ID = #{line_id};
		]]>
	</update>

	<update id="deleteLine" parameterType="LineEntity">
		<![CDATA[ 
		UPDATE LINE SET DELETE_FLG = 1,
			UPDATED_BY = #{updated_by},
			UPDATED_TIME = current_timestamp
		WHERE LINE_ID = #{line_id};
		]]>
	</update>

</mapper>