<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties />
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="SIMPLE" />
	</settings>
	<typeAliases>
		<typeAlias alias="MaterialEntity" type="com.osh.rvs.entity.MaterialEntity" />
		<typeAlias alias="AlarmMesssageEntity" type="com.osh.rvs.entity.AlarmMesssageEntity" />
		<typeAlias alias="AlarmMesssageSendationEntity" type="com.osh.rvs.entity.AlarmMesssageSendationEntity" />
		<typeAlias alias="OperatorEntity" type="com.osh.rvs.entity.OperatorEntity" />
		<typeAlias alias="PositionEntity" type="com.osh.rvs.entity.PositionEntity" />
		<typeAlias alias="ServiceRepairManageEntity" type="com.osh.rvs.entity.ServiceRepairManageEntity"/>
		<typeAlias alias="ScheduleHistoryEntity" type="com.osh.rvs.entity.ScheduleHistoryEntity" />
		<typeAlias alias="MaterialRemainTimeEntity" type="com.osh.rvs.entity.MaterialRemainTimeEntity"/>
		<typeAlias alias="PeriodsEntity" type="com.osh.rvs.entity.PeriodsEntity" />
		<typeAlias alias="DailyKpiDataEntity" type="com.osh.rvs.entity.DailyKpiDataEntity" />
		<typeAlias alias="CheckedFileStorageEntity" type="com.osh.rvs.entity.CheckedFileStorageEntity" />
		<typeAlias alias="ConsumableOrderEntity" type="com.osh.rvs.entity.ConsumableOrderEntity" />
		<typeAlias alias="ProductionAssignEntity" type="com.osh.rvs.entity.ProductionAssignEntity" />
	</typeAliases>
	<typeHandlers />
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://10.220.130.100:3306/rvsdb?autoReconnect=true" />
				<!--
				<property name="url" value="jdbc:mysql://localhost:3306/rvsgdb?autoReconnect=true" />
				-->
				<property name="username" value="dbma" />
				<property name="password" value="FEDur7s#" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/osh/rvs/mapper/push/CommonMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/push/MaterialMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/push/AlarmMesssageMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/push/HolidayMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/push/OperatorMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/push/PositionMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/push/ServiceRepairManageMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/statistics/ScheduleHistoryMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/push/PartialMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/push/InfectMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/push/ProductionFeatureMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/statistics/DailyKpiMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/statistics/InfectMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/push/ProductionAssignMapper.xml" />
		<mapper resource="com/osh/rvs/mapper/statistics/DailyKpiReachMapper.xml" />
	</mappers>
</configuration> 