<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.push.InfectMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> 
		</cache -->

	<select id="getExpiredTools" resultType="map">
		<![CDATA[ 
		SELECT manage_code,sec.section_id, sec.name as section_name,process_code,pos.line_id,manager_operator_id FROM jig_manage tm 
		join position pos
			on pos.position_id = tm.position_id
		join section sec
			on sec.section_id = tm.section_id
		where responsible_operator_id is not null and  tm.position_id is not null
			and tm.section_id != 6 and tm.delete_flg = 0 and status = 1
			and not exists(select 1 from jig_check_result where manage_id = tm.jig_manage_id 
			and date(check_confirm_time) between #{startOfMonth} and #{endOfMonth})
			and tm.provide_date != current_date
		order by manager_operator_id,process_code
		;
		]]>
	</select>

	<select id="getExpiredDevices" resultType="map">
		<![CDATA[ 
		SELECT dm.devices_manage_id, manage_code,sec.section_id, sec.name as section_name,process_code,pos.line_id,manager_operator_id 
		FROM devices_manage dm 
		join device_type dt 
			ON dm.device_type_id = dt.device_type_id
		join position pos
			on pos.position_id = dm.position_id
		join section sec
			on sec.section_id = dm.section_id
		join (select manage_id, check_file_manage_id, item_seq from device_check_result where 
			check_confirm_time between #{startDate} and date_add(#{endDate}, interval 1 day)
			and checked_status = 0) nc
		on nc.manage_id = dm.devices_manage_id
		join (select device_type_id, 
			coalesce(dci.specified_model_name, cfm.specified_model_name) as specified_model_name, 
			cfm.check_file_manage_id, dci.seq_no
			from check_file_manage cfm 
			left join devices_check_item dci
				on cfm.check_file_manage_id = dci.check_file_manage_id
			where 
			cfm.delete_flg = 0
			and (dci.trigger_state = #{cycle_type} or dci.trigger_state is null)) cfml
		on cfml.check_file_manage_id = nc.check_file_manage_id
		and (cfml.seq_no = nc.item_seq or dt.specialized = 2)
		where (responsible_operator_id is not null or dm.position_id is not null or dm.line_id is not null)
			and dm.section_id != 6 and dm.delete_flg = 0 and status = 1
			and (dm.provide_date IS NULL OR dm.provide_date != current_date)
		group by dm.devices_manage_id
		order by manager_operator_id,process_code
		;
		]]>
	</select>

	<select id="getExpiredExternals" resultType="map">
		<![CDATA[ 
			SELECT
				coalesce(dm.manage_code, tm.manage_code, '') as manage_code,
				coalesce(dt.name, tm.jig_name, '') as name,
				coalesce(dm.model_name, tm.jig_no, '') as model_name,
				DATE_FORMAT(ea.available_end_date, '%Y-%m-%d') as available_end_date,
				ea.institution_name
			FROM 	
				external_adjustment ea
			LEFT JOIN
				devices_manage dm
			ON
				ea.devices_manage_id=dm.devices_manage_id
				AND ea.object_type = 1
				and dm.manage_level != 3
			LEFT JOIN
				device_type dt
			ON
				dt.device_type_id=dm.device_type_id
			LEFT JOIN
				jig_manage tm
			ON
				ea.devices_manage_id=tm.jig_manage_id
				AND ea.object_type = 2
			WHERE
				dm.waste_date IS NULL AND tm.waste_date IS NULL 
				AND ea.available_end_date < f_addworkdays(CURRENT_DATE(), 15)
				AND ea.checking_flg = 0
				AND ea.idle_flg = 0;
		]]>
	</select>

</mapper>