<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.qa.QualityAssuranceMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> 
		</cache -->
	
	<select id="getWaitings" resultType="MaterialEntity">
		<![CDATA[
			SELECT `m`.material_id,
			  omr_notifi_no as sorc_no,
			  `m`.model_id, `m`.serial_no, `m`.ocm,
			  `m`.`level`, `m`.direct_flg, `m`.service_repair_flg, `m`.reception_time, `m`.fix_type,
			  `m`.wip_location, `m`.agreed_date, `mdl`.name as model_name, `pf`.operate_result, `m`.scheduled_expedited,
			  `mp`.finish_date as finish_time,m.qa_check_time
			FROM material m
			JOIN model mdl ON `m`.model_id = `mdl`.model_id
			JOIN production_feature pf
			  ON `m`.material_id = `pf`.material_id
			  AND `pf`.position_id = #{position_id}
			  AND `pf`.action_time is null
			  AND  pf.finish_time is null
			LEFT JOIN material_process mp
				ON mp.material_id = m.material_id
				AND mp.line_id in (select line_id from line where in_advance = 0)
			ORDER BY operate_result DESC, reception_time
		]]>
	</select>

	<select id="getFinished" resultType="MaterialEntity">
		<![CDATA[
			SELECT `m`.material_id,
			  omr_notifi_no as sorc_no,
			  `m`.model_id, `m`.serial_no, `m`.ocm,
			  `m`.`level`, `m`.direct_flg, `m`.service_repair_flg, `m`.reception_time, `m`.fix_type,
			  `m`.wip_location, `m`.agreed_date, `mdl`.name as model_name, `m`.inline_time, pf.finish_time as quotation_time,
			  `mp`.finish_date as finish_time
			FROM material m
			JOIN model mdl ON `m`.model_id = `mdl`.model_id
			JOIN production_feature pf
			  ON `m`.material_id = `pf`.material_id
			  AND `pf`.position_id = #{position_id}
			  AND `pf`.operate_result = 2
			  AND `pf`.finish_time > current_date
			LEFT JOIN material_process mp
				ON mp.material_id = m.material_id
				AND mp.line_id in (select line_id from line where in_advance = 0)
			ORDER BY quotation_time DESC
		]]>
	</select>

	<select id="getMaterialDetail" resultType="MaterialEntity" parameterType="String">
	<![CDATA[ 
		SELECT 
			`m`.material_id,
			omr_notifi_no as sorc_no,
			`m`.model_id,
			`mdl`.name as model_name,
			`mdl`.category_id,
			`m`.serial_no,
			`m`.ocm,
			`m`.bound_out_ocm,
			`m`.level,
			`m`.direct_flg,
			`m`.fix_type,
			`m`.service_repair_flg,
			`m`.section_id,
			`m`.pat_id,
			`m`.reception_time,
			`m`.qa_check_time,
			`m`.agreed_date,
			`mp`.finish_date as finish_time
		 FROM material m 
		 JOIN v_model mdl
		 	ON `m`.model_id = `mdl`.model_id
		LEFT JOIN material_process mp
			ON mp.material_id = m.material_id
			AND mp.line_id in (select line_id from line where in_advance = 0)
		 WHERE `m`.material_id = #{material_id};
	]]>
	</select>

	<update id="updateMaterial" parameterType="MaterialEntity">
		<![CDATA[ 
		UPDATE Material SET 
		]]>
			<if test="qa_check_time!= null">
		<![CDATA[ 
				qa_check_time = current_timestamp
		]]>
			</if>
			<if test="outline_time!= null">
		<![CDATA[ 
				outline_time = coalesce(outline_time, current_timestamp)
		]]>
			</if>
			<if test="bound_out_ocm!= null">
		<![CDATA[ 
				, bound_out_ocm = #{bound_out_ocm}
		]]>
			</if>
			<if test="ocm_shipping_date!= null">
		<![CDATA[ 
				, ocm_shipping_date = current_date
		]]>
			</if>
		<![CDATA[ 
		WHERE material_id = #{material_id}
		-- AND outline_time IS NULL
		;
		]]>
	</update>

	<update id="forbidMaterial" parameterType="String">
		<![CDATA[ 
		UPDATE Material SET 
				qa_check_time = null
		WHERE material_id = #{material_id};
		]]>
	</update>

	<select id="getWaitingsFiling" resultType="MaterialEntity">
		<![CDATA[
			SELECT `m`.material_id,
				omr_notifi_no as sorc_no,
			  `m`.model_id, `m`.serial_no, `m`.ocm,
			  `m`.`level`, `m`.direct_flg, `m`.service_repair_flg, `m`.reception_time, `m`.fix_type,
			  `m`.wip_location, `m`.agreed_date, `mdl`.name as model_name, `m`.inline_time, pf.finish_time as quotation_time,
			  `mp`.finish_date as finish_time
			FROM material m
			JOIN model mdl ON `m`.model_id = `mdl`.model_id
			JOIN production_feature pf
			  ON `m`.material_id = `pf`.material_id
			  AND `pf`.position_id = #{position_id}
			  AND `pf`.operate_result = 2
			  AND `pf`.finish_time > current_date
			LEFT JOIN material_process mp
				ON mp.material_id = m.material_id
				AND mp.line_id in (select line_id from line where in_advance = 0)
			WHERE `m`.filing_time IS NULL
			ORDER BY quotation_time DESC
		]]>
	</select>

	<select id="getFinishedFiling" resultType="MaterialEntity">
		<![CDATA[
			SELECT `m`.material_id,
				omr_notifi_no as sorc_no,
			  `m`.model_id, `m`.serial_no, `m`.ocm,
			  `m`.`level`, `m`.direct_flg, `m`.service_repair_flg, `m`.reception_time, `m`.fix_type,
			  `m`.wip_location, `m`.agreed_date, `mdl`.name as model_name, `m`.inline_time, 
			  `mp`.finish_date as finish_time
			FROM material m
			JOIN model mdl ON `m`.model_id = `mdl`.model_id
			LEFT JOIN material_process mp
				ON mp.material_id = m.material_id
				AND mp.line_id in (select line_id from line where in_advance = 0)
		]]>
	</select>

</mapper>